[package]
name = "thin-vec"
version = "0.1.0"
authors = ["Alexis Beingessner <a.beingessner@gmail.com>"]

[features]
unstable = []
default = []

# Gecko specific features. These features cause thin-vec to have the same layout
# and behaviour as nsTArray, allowing it to be used in C++ FFI. Requires
# the empty header to be statically linked in with the symbol name "sEmptyTArrayHeader"
gecko-ffi = []

[dependencies]
libc = "0.2"
